.itembasket{

flex-wrap: wrap;
margin: 10px;
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;

}

.itembasket div{
    display: flex;
    width: 80%;
    background-color: black;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
}
.itembasket--name{
display: flex;
color: white;
padding-top: 10px;
}
.itembasket--precio{
    display: flex;
    color: white;
}

.itembasket--imagen{
    display: flex;
   align-content: center;
   width: 100%;
}
.itembasket--imagen img{
    display: flex;
    width: 200px;
}

.itembasket--categoria{
    display: flex;
    color: white;
}

.buttonborrar{
    display: flex;
    background-color: white;
    align-content: center;
    width: 100%;
}


.checkout{
    display: flex;
    background-image:linear-gradient(#020024, #380979, #100175);
    color: white;
    height: 100vw;
    overflow-y:hidden ;
}

.checkout__contenedor{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    height: 100vw;
}

.checkout__contenedor--titulo{
    display: flex;
    text-align: center;
    width: 100%;
   justify-content: center;
   height: 5%;
}

.checkout__contenedor--columnas{
    display: flex;
    width: 100%;
   margin: 10px;
   height: 95%;
   justify-content: center;
   overflow-y: hidden;
}
.checkout__contenedor--izquierda{
    display: flex;
    width: 20%;

}
.checkout__contenedor--total{
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: center;
    width: 100%;
}
.checkout__contenedor--espacio{
    height: 70%;
}

.checkout__contenedor--derecha{
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
}
/*Parte 2*/

.parte2__contenedor button{
    background-color:greenyellow ;
    
}
