
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image:linear-gradient(#020024, #380979, #100175);
    align-items: center;
  }

  
  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  .container__titulo{
    display: flex;
    font-size: large;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
  }
  
  
  .container__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 100px;
    width: 50%;
    align-items: center;
  }

  .container__form1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 50%;
    align-items: center;
  }
  
  .container__comentarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
    
  }
  
  .resultado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: black;
  }
  .form{
    
  }