.itemDetail{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding-top: 60px;

}

.itemDetail__contenedor{
    display: flex;
    flex-direction: row;
    background-image:linear-gradient(#020024, #380979, #100175);
    color: white;
    width: 70%;



}

.itemDetail__parte1{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 5px ;


}

.itemDetail__parte1 img{
    display: flex;
     width: 400px;
    height: 400px;

}

.itemDetail__parte2{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.itemDetail__parte2 h1{
    display: flex;
    padding-top: 10px;
}
.itemDetail__parte2 p{
    display: flex;
    justify-content: center
}

.itemDetail__descripcion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.buttonagregar button{
    display: flex;
    width: 200px;
    height: 50px;
    border-radius: 5%;
    align-items: center;
    justify-content: center;
    background-color: rgb(98, 8, 182);
    color: white;
    font-size: medium;
}

.buttonagregar button:hover{
  background-color: black;  
}

.buttonagregar{
    display: flex;
    padding: 10px;
}