*{
    overflow-x: hidden;
}
.App__bestseller{
    background-image:linear-gradient(#020024, #380979, #100175);
    display: flex;
    flex-direction: column;
    color: white;
}

.App__bestseller-vinilos{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.App__bestseller-vinilos button{
    display: flex;
    width: 100px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: medium;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 10px;
    text-decoration: none;
}


.App__bestseller-vinilos-uno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    overflow-y: hidden;

}

.App__bestseller-vinilos-uno h2{
    overflow-y: hidden;
}

.App__bestseller-vinilos-dos h2{
    overflow-y: hidden;
}

.App__bestseller-vinilos-tres h2{
    overflow-y: hidden;
}

.App__bestseller-vinilos-uno p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
    padding: 30px;

}

.App__bestseller-vinilos-dos p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
    padding: 30px;

}

.App__bestseller-vinilos-tres p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
    padding: 30px;

}
.App__bestseller-vinilos-uno img {
 display: flex;
width: 500px;
justify-content: center;
}

.App__bestseller-vinilos-dos{
    display: flex;
    flex-direction: column;
    align-items: center
}

.App__bestseller-vinilos-dos img {
    display: flex;
   width: 500px;
   justify-content: center;
   }

.App__bestseller-vinilos-tres{
    display: flex;
    flex-direction: column;
    align-items: center
}

.App__bestseller-vinilos-tres img {
    display: flex;
   width: 500px;
   justify-content: center;
   }
   