 /*Navbar.jsx*/
.navbar{
    display: flex;
    width: 100%;
   
}

.navbar__appbar{
    display: flex;
    width: 100%;
    
}

 .navbar__contenedor{
     display: flex;
     width: 100%;
     background-color: #020024;
     padding: 5px;
     
 }
 .nav{
    display: flex;
    color: white;
    padding: 10px;
    
    } 

    .nav__derecha{
    display: flex;
    width: 50%;
    height: 100px;
    justify-content:flex-start;
    align-items: center;
    overflow-y: hidden;
    }
    .nav__izquierda{
        display: flex;
        width: 50%;
        color: white;
    }
    .nav__derecha img{
    width: auto;
    
    z-index: 10;
    }



.nav__titulo{
    color: white;
    text-decoration: none;
    font-size: xx-large;
    overflow-y: hidden;
}

    .titulo__nav{
      display: flex;
      flex-direction: row;
      margin: 10px;
      align-items: center;
      width: auto;
    }
    .titulo__lista{
      display: flex;
      flex-direction: row;
      list-style:none;
      justify-content: space-evenly;
      width: 80%;
      align-items: center;
    }
    
    .titulo__lista li{
    margin: 10px;
    color: white;
    text-decoration: none;
    }
    .titulo__lista li:hover{
      color: rgb(145, 30, 199);
      }
    
      .navbar__button{
          padding: 10px;
      }

      .navbar__cart{
        padding-left: 200px;
      }

      .navbar__cart button span{
        overflow:visible; 
        }
     .navbar__button a {
         color: white;
     } 

     .navbar__button button {
        background-color: white;
        overflow:visible;
    } 

    .navbar__button button:hover {
        background-color: white;
    } 

    .navbar__cart button{
        background-color: white;
    }

    .navbar__cart button:hover{
        background-color: white;
    }